.card{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 250px;
    cursor: pointer;
    color: white;
    text-shadow: 3px 3px black;
    background-repeat: no-repeat;
    background-size:cover; 
}

.card > div{
    align-self: flex-end;
    border-radius: 15px;
    width: fit-content;
    background-color: #0009;

    text-align: end;
    backdrop-filter: blur(6px);
}

.card:hover{
    border: 5px solid rgb(255, 251, 130);
}
