.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 500px;
    min-height: 500px;
    height: auto;
    margin: 15px auto;
    background-color: #ddd;
    border-radius: 15px;
}

#durationInput{
    width: 25%;
    height: 35px;
    text-align: center;
}

.submitButton{
    width: 50%;
    margin: 5px auto;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #8889;
    font-size: 1.5rem;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #aaa;
}

.category label{
    margin-bottom: 5px;
    text-align: center;
    width: 80%;
    font-size: 1.25rem;
}

.radioInputs{
    display: flex;
}


.radioInputs label {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 25px;
    text-decoration: none;
}

.radioInputs input {
    margin: 5px 0px;
    min-width: 50px;
    background-color: #fff;
}

.category input{
    height: 25px;
    width: 80%;
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 2px 10px;
    background-color: #fff;
    font-size: 1.15rem;
}

.category input::placeholder{
    color: #0007;
}


.form h1{
    text-align: center;
}

.ok {
    border: none;
}

.notOk {
    border: 2px solid #f00a !important;
}

.countriesSearch{
    display: flex;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    font-weight: 800;
}

.countryInputContainer{
    width: 200%;
    margin-left: -50%;
    display: flex;
    align-content:space-between;
}

.suggestionList{
    overflow-y: auto;
}

.countriesSearch input{
    margin: 5 auto;
    width: 100%;
    min-height: 35px;
    border-radius: 15px;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    outline:none;
    font-size: 1.25rem;
    padding: 2px 10px;
}

.countryOption{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #333;
    width: 100%;
    height: 25px;
    background-color: white;
    font-weight: 400;
    color: #0009;
}

.countryOption img{
    margin-right: 5px;
    width: 30px;
    height: 20px;
}

.flagImg{
    margin: 0 5px;
    border: 1px solid #333;
    width: 30px;
    height: 20px;
    background-color: white;
    font-weight: 400;
    color: #0009;
    margin-right: 5px;
}

.addedCountriesContainer{
    display: flex;
    justify-content: center;
}

.addedCountriesContainer img, .addedCountriesContainer h4{
    margin: 5px 5px;
}

.countryOption:hover{
    background-color: #ddd;
}

.addButton{
    width: 100px;
    border-radius: 15px;
    background-color: var(--secondary);
    border: 1px solid #00aaaa77;
}

.addButton:hover {
    background-color: var(--secondary-hover);
}