.indicator{
    display: flex;
    background-color: #706c408f;
    text-shadow: 1px 1px black;
    border-radius: 10px;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 100px;
    transform: skewX(-10deg);
}